body
{
	position:relative;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
}

nav
{
	display:flex;
	justify-content:space-around;
	background-color: white;
	height:75px;
	width: 100%;
	box-shadow:0 0 5px rgba(0,0,0,0.3);
	position: fixed;
	top: 0;
	padding:0 3% 0 0;
	align-items: center;
	box-sizing: border-box;
	z-index:100;
}

input
{
	width: 100%;
	outline:none;
	height: 40px;
	padding: 0 10px;
	box-sizing: border-box;
	border-radius: 20px;
	border-style: solid;
	border-color: #f1f1f1;
	border-width: 1.5px;
	background-color: #f1f1f1;
	font-weight: 400;
	font-size:16px;
	font-family: 'Lato', sans-serif;
	transition: opacity .5s ease-in-out;
	padding-left:2%;
}

.banner
{
	background-image:url("bodyBackground.jpg");
	height: 50vh;
	min-height: 300px;
	width: 100%;
	background-size: cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
}

.navCategory
{
	position:relative;
	cursor: pointer;
}

.navCategory::after
{
	position:absolute;
	bottom:-2px;
	right:50%;
	width:0;
	height:2px;
	content:"";
	background-color: #333333;
	transition:width, right, 0.15s ease-in-out;
}

.navCategory:hover::after
{
	width:100%;
	right:0;
}

.articleTitle
{
	font-weight:400;
	margin:0;
	padding: 0 3%;
}
.articles
{
	padding: 0 3%;
	font-family: 'Lato',sans-serif;
	color: #333333;
	font-weight:300;
	position: center;
	box-sizing: border-box;
}

.articleImage
{
	width: 100%;
	position:relative;
	align-content: center;
	margin:2% 0 0 0;
}

.articleArea
{
	position:relative;
	justify-content: center;
	width:100%;
	padding:3% 0;
}

.articleContent
{

}

.articleArea::after
{
	position:absolute;
	bottom: -0.5%;
	background-color: #333333;
	right:0;
	content: "";
	width:100%;
	height:1px;
	z-index: -1;
}

@media screen and (min-width: 576px)
{
	input
	{
		width:40%;
	}
}
/*@keyframes moveRight 
{
  from {right: 30%; top: calc(40px + 5%);}
  to {right: 5%; top: 100px; bottom: 0px; width: 20%;}
}

@keyframes keepStill 
{
  from {right: 5%; top: 100px; bottom: 0px; width: 20%;}
  to {right: 5%; top: 100px; bottom: 0px; width: 20%;}
}*/